* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

#banner {
	background-color: #009966;
	height: 100px;
	width: 100%;
}

#menu {
	background-color: #CCCCCC;
	float:left;
	height: 620px;
	width: 12%;
}

#content {
	padding-left:6px;
	background: #CCCCCC;
	float: right;
	height: 620px;
	width: 87%;
}

#footer {
	margin-top:8px;
	background: #006633;
	height: 120px;
	width: 100%;
}

div.xoa {
	clear:both;
}

div#box-chucnang {
	width:auto;
	height:75px;
	background-color: #CCCCCC;
	padding:5px;
	border:1px solid #CCCCCC;
	text-align:center;
}

div#box-chucnang:hover {
	border:2px solid #9999FF;
}

div#menu a {
	text-decoration:none;
	color:#000000;
}

div#menu a:hover {
	color:#CC0033;
}

div.left, div.right {
	float:left;
}
div.right {
	float:right;
}

#custom {
	border-collapse:collapse;
}
#custom tr {
	border:2px solid #CC9900;
}
#custom td {
	padding:5px;
}
#custom tr.doimaunen{
	background-color:#99CC00;
}

