
#slides {
	p/osition:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/

.slides_container {
	width:313px;
	height:300px;
	overflow:hidden;
	position:relative;
	display:none;
	padding-bottom:7px;
}

/*
	Each slide
	Important:
	Set the width of your slides
	Offeset for the 20px of padding
	If height not specified height will be set by the slide content
	Set to display block
*/
#slides .slide {
	padding:0;
	width:530px;
	height:200px;
	display:block;
	border:none;
}

/*
	Next/prev buttons
*/
#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:0 auto;
	width:150px;
	border:0;
	padding:0 0 0 0;
}
.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
	
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url("pagination.png")/*tpa=http://shopweb.vn/application/views/frontend/vndes/images/pagination.png*/;
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

